<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <title>Arpit-Portfolio 👨‍💼</title>
    <link rel="shortcut icon" href="image/portfolio.png">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <section class="nav">
        <div class="nav-div">
           <ul class="nav-ul">
            <a id="home" class="a-style" href="/"> Home</a>
            <li  id="about1" onclick="scrollabout()" class="a-style">About</a></li>
            <a  id="contact" class="a-style"  href="/contact">Contact</a>
            <li  id="project1" onclick="scrollproject()" class="a-style">Projects</li>
            <a  id="service" class="a-style" href="/service">Service</a>
           </ul>
        </div>
    </section>
    <section class="intro">
       <div class="intro-div">
        <span class="intro-page1">Hello-World;</span><br>
        <span class="intro-page2">I'M Arpit Agrahari</span><br>
        <span class="intro-page3">Full Stack Web Developer<span<span class="dd">||</span><span class="intro-page3">GFG Score 350+</span><br>
        <h4 class="intro-page4">Welcome to My Portfolio</h4>
        <img class="top-image" src="image/top-banner-removebg-preview.png">
        <div class="social-intro">
            <a href="https://www.facebook.com/arpit.agrahari.5"><img class="top-social" src="image/facebook.png"></a>
            <a href="https://auth.geeksforgeeks.org/user/omagrah19tf/practice"><img class="top-social" src="image/gfg.png"></a>
            <a href="https://www.instagram.com/anonymouse_____69/"><img class="top-social" src="image/Insatgram.png"></a>
            <a href="https://www.linkedin.com/in/arpit-agrahari-a4b208237/"><img class="top-social" src="image/Linkedin.png"></a>
        </div>
      </div>
    </section>
    <section class="About">
        <div class="about-div"  id="about">
            <h1 class="about-title">About-me</h1>
                <h3 class="intro-me">Let me Introduce Myself</h3>
                <p class="about-intro">Hello My name is Arpit(Full Stack web developer) and my GFG DSA score is above 350 I am very good in both frontend and backend development and I have 1+ years of development experience building fullstack products, performing ETL and developing Power BI dashboards, working with a variety of databases and more recently developing web applications with Node JS  for doing the fronted work I use Html,Css,javascript and React.js and for doing the backend work I used to code in Node.js and Express.js for database I use both Mysql and Mongodb.</p>
                <img class="myimage" src="image/pic-blur.png">
                <button class="contact-btn">
                    <a class="contact-a"  href="/contact">Conatct me</a>
                </button>
                <button class="cv-btn">
                    <a class="cv-a" href="https://drive.google.com/file/d/1piy8jagI9LbwQOiRIR2Otlx_n8z1hkVI/view">Download CV</a>
                </button>
        </div>
    </section>
    <section class="edu-skills">
        <div class="edu-skills-div">
            <h1 class="edu-skill-title">Education & Skills</h1>
            <div class="edu">
                <h2 class="edu-title">Education:-</h2>
                <l1  class="points">Class X(ICSE)</l1>
                <l1  class="points">Class XII(CBSE)</l1>
                <l1  class="points">X:-81%</l1>
                <l1  class="points">XII:-78%</l1>
                <l1  class="points">DSA score-350+</l1>
                <l1  class="points">Course-B.TECH (AKTU)</l1>
                <l1  class="points">Branch-Computer Science</l1>
                <l1  class="points">Will be passed out at 2026</l1>
                <l1  class="points">Sem I:-(will be updated soon..)</l1>
            </div>
            <img class="img-edu-skill" src="image/edu-skill.png">
            <div class="skill">
                <h2 class="skill-title">Skills:-</h2>
                <l1  class="point-s">HTM</l1>
                <l1 class="point-s">CSS</l1>
                <l1 class="point-s">Javascript</l1>
                <l1 class="point-s">Node.js</l1>
                <l1 class="point-s">MongodB</l1>
                <l1 class="point-s">React.js</l1>
                <l1 class="point-s">MYSQL</l1>
                <l1 class="point-s">Python</l1>
                <l1 class="point-s">Express</l1>
            </div>
        </div>
    </section>
    <section class="project">
        <div class="project-div" id="project">
            <h1 class="project-head"  >Projects</h1>
            <div class="project-list">
                <li class="project-l">Kaffen:-<a class="project-a" href="https://kaffen-coffee-and-beans.netlify.app/">www.kaffen-coffee-and-beans.com</a></li>
                <li class="project-l">Fashion-Hub:-<a class="project-a" href="https://fashionhub-0.netlify.app/">www.fashionhub.com/</a></li>
                <li class="project-l">Alarm:-<a class="project-a" href="https://alarm-made-by-arpit.netlify.app/">www.alarm-arpit.com</a></li>
                <li class="project-l">Calculator:-<a class="project-a" href="https://calculaterop.netlify.app/">www.calculaterop.com</a></li>
                <li class="project-l">Bulb:-<a class="project-a" href="https://bulb01.netlify.app/">www.bulb-fun.com</a></li>
                <li class="project-l">Digital Clock:-<a class="project-a" href="https://digi-time-clock.netlify.app/">www.digital-clock.com</a></li>
                <li class="project-l">Aktu notes:-<a class="project-a" href="https://aktu-1-year-notes.netlify.app/">www.aktu-notes.com</a></li>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-div">
            <div class="devloper">
                <spna>Devloper-Arpit Agrahari</spna><br>
                <spna>Email-Id-Omagrahri55@gmail.com</spna><br>
                <spna>Phone no.-8840689883</spna><br>
                <spna>Portfolio-Arpit.com</spna><br>
                <spna>Experience-3+years</spna><br>
                <spna>Skills-Web development,DSA</spna><br>
                <spna>Address-Greater Noida,UP,India</spna><br>
            </div>
            <div class="socialdiv">
                <spna class="follow">Follow us on Social media</spna><br>
                <a href="https://www.facebook.com/arpit.agrahari.5">
                    <img src="image/facebook.png" class="social"><span class="socialword">Facebook</span><br>
                </a>
                <a href="https://www.instagram.com/anonymouse_____69/" >
                    <img src="image/Insatgram.png" class="social"><span class="socialword">Instagram</span><br>
                </a>
                <a href="https://www.linkedin.com/in/arpit-agrahari-a4b208237/" >
                  <img src="image/Linkedin.png" class="social"><span class="socialword">Linkedin</span><br>
                </a>
                <a href="https://auth.geeksforgeeks.org/user/omagrah19tf/practice">
                <img class="social" src="image/gfg.png"><span class="socialword">GFG</span><br>
            </a>
            </div>
            <span class="end">Copyright &copy; www.Arpit-Portfolio.com all rights are reserved!!!</span>
        </div>
    </footer>

</body>
<script src="js/index.js"></script>
</html>