<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <title>Arpit-Portfolio 👨‍💼</title>
    <link rel="shortcut icon" href="/image/portfolio.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="nav">
        <div class="nav-div">
           <ul class="nav-ul">
            <li><a class="a-style" href="/"> Home</a></li>
            <li><a class="a-style" href="/"> About</a></li>
            <li><a class="a-style"  href="/contact">Contact</a></li>
            <li><a class="a-style" href="/">Projects</a></li>
            <li><a class="a-style" href="/service">Service</a></li>
           </ul>
        </div>
    </section>
</body>
</html>